body {
  margin: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.icon_preview_form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: fit-content;

  & label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.icon_preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;

  .icon_preview_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20rem;
    aspect-ratio: 1 / 1;

    .icon {
      position: absolute;
      width: 10rem;
      aspect-ratio: 1 / 1;

      border-radius: 100%;
    }

    .decoration {
      position: absolute;
      width: 20rem;
      aspect-ratio: 1 / 1;
    }
  }
}