body {
  margin: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.icon_preview_form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: fit-content;

  .form_space_beetween label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.icon_preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;

  --icon_preview_size: 10rem;

  .icon_preview_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(var(--icon_preview_size) * 2);
    aspect-ratio: 1 / 1;

    .icon {
      position: absolute;
      width: var(--icon_preview_size);
      aspect-ratio: 1 / 1;

      border-radius: 100%;
    }

    .decoration {
      position: absolute;
      width: calc(var(--icon_preview_size) * 2);
      aspect-ratio: 1 / 1;
    }
  }
}